@use "../settings/variables" as *;
@use "../settings/functions" as *;
@use "../mixins/breakpoints" as *;

.articles {
  .article {
    .article__title {
      margin-block: $leading-trim;
      font-size: fz(24);
      font-weight: bold;
    }
    .article__info {
      font-size: fz(14);
      margin: 15px 0 10px;
      display: flex;
      .date {
        margin-right: 20px;
      }
      .category {
      }
    }
    .article__img {
    }
    .article__text {
      max-width: 89.45%;
      margin-top: 10px;
      margin-inline: auto;
    }
    .article__more {
      text-align: center;
      margin-top: 30px;
      > a {
        font-size: fz(14);
        text-decoration: none;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 1px;
          background: currentColor;
          opacity: 1;
          transition:
            opacity 0.3s,
            bottom 0.3s;
        }
        &:hover {
          &::after {
            opacity: 0;
            bottom: -2px;
          }
        }
      }
    }
    & + .article {
      margin-top: 80px;
      @include mq {
        margin-top: 90px;
      }
    }
  }
}

// .article-box {
//   display: flex;
//   @include mq {
//     flex-direction: column;
//   }
//   .article-box__item {
//     &:first-child {
//       @include mq {
//         margin-bottom: 32px;
//       }
//       @include mqup {
//         margin-right: 64px;
//       }
//     }
//   }
//   .article-box__img {
//     flex: 0 0 50%;
//     @include mq {
//       flex: 0 0 100%;
//       text-align: center;
//     }
//   }
//   .article-box__text {
//     flex-grow: 1;
//     .text {
//     }
//     .price {
//     }
//   }
// }
