@use "../settings/variables" as *;
@use "../settings/functions" as *;
@use "../mixins/breakpoints" as *;

.primary-heading {
  margin-block: $leading-trim;
  font-size: fz(32);
  font-weight: bold;
  margin-bottom: 48px;
  border-bottom: 2px solid currentColor;
}
