@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/*** The new CSS reset - version 1.11.1 (last updated 24.10.2023) ***/
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg*, symbol*)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

a,
button {
  cursor: revert;
}

ol,
ul,
menu,
summary {
  list-style: none;
}

img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

table {
  border-collapse: collapse;
}

input,
textarea {
  -webkit-user-select: auto;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  appearance: revert;
}

:where(pre) {
  all: revert;
  box-sizing: border-box;
}

::placeholder {
  color: unset;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

:where([draggable="true"]) {
  -webkit-user-drag: element;
}

:where(dialog:modal) {
  all: revert;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Noto Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: #333;
  font-size: 1rem;
  line-height: 1.7;
}

img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  -webkit-appearance: none;
  appearance: none;
}
input:focus,
button:focus,
textarea:focus,
select:focus {
  outline-offset: 4px;
}

a {
  text-decoration: none;
  color: #333;
}
a:hover {
  text-decoration: underline;
}

.page-body-wrapper {
  position: relative;
}

.header {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
}
.header .header__inner {
  background: #fff;
}
.header .header__logo {
  max-width: 1200px;
  padding: 10px 16px;
  margin-inline: auto;
}
.header .header__logo > a img {
  display: block;
}
.header .header__nav-wrap {
  background: #333;
}
.header .header__nav {
  max-width: 1200px;
  padding: 10px 16px;
  margin-inline: auto;
}
@media screen and (max-width: 768px) {
  .header .header__nav {
    overflow-x: scroll;
  }
}
.header .header__link {
  display: flex;
}
.header .header__link > li {
  margin-right: 60px;
}
.header .header__link > li:last-child {
  margin-right: 0;
  padding-right: 16px;
}
.header .header__link > li a {
  color: #fff;
  font-size: 0.875rem;
}

.footer {
  margin-top: 140px;
  background-color: #f7f7f7;
}
.footer .footer__inner {
  max-width: 1200px;
  padding: 0 16px;
  margin-inline: auto;
}
.footer .footer-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5.08%;
  padding: 50px 0;
}
@media screen and (max-width: 768px) {
  .footer .footer-grid {
    grid-template-columns: 1fr;
    gap: 50px;
  }
}
.footer .footer-grid .footer-grid__title {
  margin-bottom: 30px;
  font-size: 1.125rem;
  font-weight: bold;
}
.footer .footer-about > .text {
  font-size: 0.875rem;
  margin-bottom: 20px;
}
.footer .footer-about .footer-about__list li > a {
  position: relative;
  padding-left: 10px;
  font-size: 0.875rem;
}
.footer .footer-about .footer-about__list li > a::before {
  content: "";
  position: absolute;
  top: 0.5em;
  left: 0;
  background: currentColor;
  width: 8px;
  height: 12px;
  clip-path: polygon(8px 50%, 0% 0%, 0% 12px);
  margin-top: -2px;
}
.footer .footer-menu .footer-menu__list > li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 15px;
  border-top: 1px solid #777;
  font-size: 0.875rem;
  transition: background-color 0.3s;
}
.footer .footer-menu .footer-menu__list > li a:hover {
  text-decoration: none;
  background-color: #eee;
}
.footer .footer-menu .footer-menu__list > li:last-child a {
  border-bottom: 1px solid #777;
}
.footer .footer-copy {
  font-size: 0.75rem;
  padding: 10px 0;
  text-align: center;
}

.sidebar .sidebar__item + .sidebar__item {
  margin-top: 60px;
}
.sidebar .sidebar__title {
  font-size: 1.125rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}
.sidebar .profile .profile__img {
  text-align: center;
}
.sidebar .profile .profile__img > img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}
.sidebar .profile .profile__name {
  font-size: 1.125rem;
  font-weight: bold;
  text-align: center;
  margin: 30px 0;
}
.sidebar .profile .profile__text {
  font-size: 0.875rem;
}
.sidebar .ranking .ranking__item + .ranking__item {
  margin-top: 30px;
}
.sidebar .ranking .ranking__link {
  transition: opacity 0.3s;
}
.sidebar .ranking .ranking__link:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
}
.sidebar .ranking .ranking__link > .text {
  font-size: 0.875rem;
}
.sidebar .archive .archive__list {
  font-size: 0.875rem;
}
.sidebar .archive .archive__list > li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 20px;
  border-top: 1px solid #777;
  transition: background-color 0.3s;
}
.sidebar .archive .archive__list > li a:hover {
  text-decoration: none;
  background-color: #eee;
}
.sidebar .archive .archive__list > li:last-child a {
  border-bottom: 1px solid #777;
}

.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.d-b {
  display: block !important;
}

.d-ib {
  display: inline-block !important;
}

.d-i {
  display: inline !important;
}

.d-none {
  display: none !important;
}

@media screen and (max-width: 768px) {
  .sp-d-b {
    display: block !important;
  }
  .sp-d-ib {
    display: inline-block !important;
  }
  .sp-d-i {
    display: inline !important;
  }
  .sp-d-none {
    display: none !important;
  }
}
.m-sm {
  margin: 8px;
}

.m-m {
  margin: 16px;
}

.m-lg {
  margin: 24px;
}

.m-xl {
  margin: 48px;
}

.m-xxl {
  margin: 64px;
}

.m-xxxl {
  margin: 180px;
}

.mt-sm {
  margin-top: 8px;
}

.mt-m {
  margin-top: 16px;
}

.mt-lg {
  margin-top: 24px;
}

.mt-xl {
  margin-top: 48px;
}

.mt-xxl {
  margin-top: 64px;
}

.mt-xxxl {
  margin-top: 180px;
}

.mb-sm {
  margin-bottom: 8px;
}

.mb-m {
  margin-bottom: 16px;
}

.mb-lg {
  margin-bottom: 24px;
}

.mb-xl {
  margin-bottom: 48px;
}

.mb-xxl {
  margin-bottom: 64px;
}

.mb-xxxl {
  margin-bottom: 180px;
}

.mr-sm {
  margin-right: 8px;
}

.mr-m {
  margin-right: 16px;
}

.mr-lg {
  margin-right: 24px;
}

.mr-xl {
  margin-right: 48px;
}

.mr-xxl {
  margin-right: 64px;
}

.mr-xxxl {
  margin-right: 180px;
}

.ml-sm {
  margin-left: 8px;
}

.ml-m {
  margin-left: 16px;
}

.ml-lg {
  margin-left: 24px;
}

.ml-xl {
  margin-left: 48px;
}

.ml-xxl {
  margin-left: 64px;
}

.ml-xxxl {
  margin-left: 180px;
}

.mi-initial {
  margin-inline: initial !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.ml-5 {
  margin-left: 5px !important;
}

.mr-5 {
  margin-right: 5px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.ml-15 {
  margin-left: 15px !important;
}

.mr-15 {
  margin-right: 15px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.mt-25 {
  margin-top: 25px !important;
}

.mb-25 {
  margin-bottom: 25px !important;
}

.ml-25 {
  margin-left: 25px !important;
}

.mr-25 {
  margin-right: 25px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.ml-30 {
  margin-left: 30px !important;
}

.mr-30 {
  margin-right: 30px !important;
}

.mt-35 {
  margin-top: 35px !important;
}

.mb-35 {
  margin-bottom: 35px !important;
}

.ml-35 {
  margin-left: 35px !important;
}

.mr-35 {
  margin-right: 35px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.ml-40 {
  margin-left: 40px !important;
}

.mr-40 {
  margin-right: 40px !important;
}

.mt-45 {
  margin-top: 45px !important;
}

.mb-45 {
  margin-bottom: 45px !important;
}

.ml-45 {
  margin-left: 45px !important;
}

.mr-45 {
  margin-right: 45px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.ml-50 {
  margin-left: 50px !important;
}

.mr-50 {
  margin-right: 50px !important;
}

.pt-5 {
  padding-top: 5px !important;
}

.pb-5 {
  padding-bottom: 5px !important;
}

.pl-5 {
  padding-left: 5px !important;
}

.pr-5 {
  padding-right: 5px !important;
}

.pt-10 {
  padding-top: 10px !important;
}

.pb-10 {
  padding-bottom: 10px !important;
}

.pl-10 {
  padding-left: 10px !important;
}

.pr-10 {
  padding-right: 10px !important;
}

.pt-15 {
  padding-top: 15px !important;
}

.pb-15 {
  padding-bottom: 15px !important;
}

.pl-15 {
  padding-left: 15px !important;
}

.pr-15 {
  padding-right: 15px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.pl-20 {
  padding-left: 20px !important;
}

.pr-20 {
  padding-right: 20px !important;
}

.pt-25 {
  padding-top: 25px !important;
}

.pb-25 {
  padding-bottom: 25px !important;
}

.pl-25 {
  padding-left: 25px !important;
}

.pr-25 {
  padding-right: 25px !important;
}

.pt-30 {
  padding-top: 30px !important;
}

.pb-30 {
  padding-bottom: 30px !important;
}

.pl-30 {
  padding-left: 30px !important;
}

.pr-30 {
  padding-right: 30px !important;
}

.pt-35 {
  padding-top: 35px !important;
}

.pb-35 {
  padding-bottom: 35px !important;
}

.pl-35 {
  padding-left: 35px !important;
}

.pr-35 {
  padding-right: 35px !important;
}

.pt-40 {
  padding-top: 40px !important;
}

.pb-40 {
  padding-bottom: 40px !important;
}

.pl-40 {
  padding-left: 40px !important;
}

.pr-40 {
  padding-right: 40px !important;
}

.pt-45 {
  padding-top: 45px !important;
}

.pb-45 {
  padding-bottom: 45px !important;
}

.pl-45 {
  padding-left: 45px !important;
}

.pr-45 {
  padding-right: 45px !important;
}

.pt-50 {
  padding-top: 50px !important;
}

.pb-50 {
  padding-bottom: 50px !important;
}

.pl-50 {
  padding-left: 50px !important;
}

.pr-50 {
  padding-right: 50px !important;
}

.w-sp {
  width: 390px;
}

.w-tab {
  width: 768px;
}

.w-ms {
  width: 900px;
}

.w-m {
  width: 1000px;
}

.w-lg {
  width: 1200px;
}

.w-full {
  width: 100%;
}

.w-5 {
  width: 5%;
}

.w-10 {
  width: 10%;
}

.w-15 {
  width: 15%;
}

.w-20 {
  width: 20%;
}

.w-25 {
  width: 25%;
}

.w-30 {
  width: 30%;
}

.w-35 {
  width: 35%;
}

.w-40 {
  width: 40%;
}

.w-45 {
  width: 45%;
}

.w-50 {
  width: 50%;
}

.ta_c {
  text-align: center;
}

.ta_l {
  text-align: left;
}

.ta_r {
  text-align: right;
}

.ff-noto {
  font-family: "Noto Sans", sans-serif;
}

.ff-noto-jp {
  font-family: "Noto Sans JP", sans-serif;
}

.section .section__inner {
  max-width: 1200px;
  padding: 0 16px;
  margin-inline: auto;
}
.section.pickup {
  margin-top: 44px;
}
@media screen and (max-width: 768px) {
  .section.pickup {
    margin-top: 34px;
  }
}
.section.pickup + .section {
  margin-top: 70px;
}
@media screen and (max-width: 768px) {
  .section.pickup + .section {
    margin-top: 100px;
  }
}

.grid-col3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
@media screen and (max-width: 768px) {
  .grid-col3 {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

.pickup .pickup__img {
  text-align: center;
}
.pickup .pickup__text {
  font-weight: bold;
  margin-top: 10px;
}
.pickup .pickup__more {
  text-align: center;
  margin-top: 15px;
}
.pickup .pickup__more > a {
  font-size: 0.875rem;
  text-decoration: none;
  position: relative;
}
.pickup .pickup__more > a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: currentColor;
  opacity: 1;
  transition: opacity 0.3s, bottom 0.3s;
}
.pickup .pickup__more > a:hover::after {
  opacity: 0;
  bottom: -2px;
}

.content-grid {
  display: flex;
}
@media screen and (max-width: 768px) {
  .content-grid {
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .content-grid .content-grid__item.articles {
    width: 66.83%;
    max-width: 759px;
    margin-right: 3.58%;
  }
}
@media screen and (max-width: 768px) {
  .content-grid .content-grid__item.sidebar {
    margin-top: 80px;
  }
}
@media screen and (min-width: 768px) {
  .content-grid .content-grid__item.sidebar {
    width: 30%;
  }
}

.articles .article .article__title {
  margin-block: calc((1em - 1lh) / 2);
  font-size: 1.5rem;
  font-weight: bold;
}
.articles .article .article__info {
  font-size: 0.875rem;
  margin: 15px 0 10px;
  display: flex;
}
.articles .article .article__info .date {
  margin-right: 20px;
}
.articles .article .article__text {
  max-width: 89.45%;
  margin-top: 10px;
  margin-inline: auto;
}
.articles .article .article__more {
  text-align: center;
  margin-top: 30px;
}
.articles .article .article__more > a {
  font-size: 0.875rem;
  text-decoration: none;
  position: relative;
}
.articles .article .article__more > a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: currentColor;
  opacity: 1;
  transition: opacity 0.3s, bottom 0.3s;
}
.articles .article .article__more > a:hover::after {
  opacity: 0;
  bottom: -2px;
}
.articles .article + .article {
  margin-top: 80px;
}
@media screen and (max-width: 768px) {
  .articles .article + .article {
    margin-top: 90px;
  }
}

.pagination {
  margin-top: 60px;
}
.pagination > ul {
  display: flex;
  justify-content: center;
}
.pagination > ul li {
  margin-right: 30px;
}
.pagination > ul li:last-child {
  margin-right: 0;
}
