@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/*** The new CSS reset - version 1.11.1 (last updated 24.10.2023) ***/
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg*, symbol*)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

a,
button {
  cursor: revert;
}

ol,
ul,
menu,
summary {
  list-style: none;
}

img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

table {
  border-collapse: collapse;
}

input,
textarea {
  -webkit-user-select: auto;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  appearance: revert;
}

:where(pre) {
  all: revert;
  box-sizing: border-box;
}

::placeholder {
  color: unset;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

:where([draggable=true]) {
  -webkit-user-drag: element;
}

:where(dialog:modal) {
  all: revert;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: #333;
  font-size: 1rem;
  line-height: 1.7;
}

img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  -webkit-appearance: none;
  appearance: none;
}
input:focus,
button:focus,
textarea:focus,
select:focus {
  outline-offset: 4px;
}

a {
  text-decoration: none;
  color: #333;
}
a:hover {
  text-decoration: underline;
}

.page-body-wrapper {
  position: relative;
}

.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.d-b {
  display: block !important;
}

.d-ib {
  display: inline-block !important;
}

.d-i {
  display: inline !important;
}

.d-none {
  display: none !important;
}

@media screen and (max-width: 900px) {
  .sp-d-b {
    display: block !important;
  }
  .sp-d-ib {
    display: inline-block !important;
  }
  .sp-d-i {
    display: inline !important;
  }
  .sp-d-none {
    display: none !important;
  }
}
.m-sm {
  margin: 8px;
}

.m-m {
  margin: 16px;
}

.m-lg {
  margin: 24px;
}

.m-xl {
  margin: 48px;
}

.m-xxl {
  margin: 64px;
}

.m-xxxl {
  margin: 180px;
}

.mt-sm {
  margin-top: 8px;
}

.mt-m {
  margin-top: 16px;
}

.mt-lg {
  margin-top: 24px;
}

.mt-xl {
  margin-top: 48px;
}

.mt-xxl {
  margin-top: 64px;
}

.mt-xxxl {
  margin-top: 180px;
}

.mb-sm {
  margin-bottom: 8px;
}

.mb-m {
  margin-bottom: 16px;
}

.mb-lg {
  margin-bottom: 24px;
}

.mb-xl {
  margin-bottom: 48px;
}

.mb-xxl {
  margin-bottom: 64px;
}

.mb-xxxl {
  margin-bottom: 180px;
}

.mr-sm {
  margin-right: 8px;
}

.mr-m {
  margin-right: 16px;
}

.mr-lg {
  margin-right: 24px;
}

.mr-xl {
  margin-right: 48px;
}

.mr-xxl {
  margin-right: 64px;
}

.mr-xxxl {
  margin-right: 180px;
}

.ml-sm {
  margin-left: 8px;
}

.ml-m {
  margin-left: 16px;
}

.ml-lg {
  margin-left: 24px;
}

.ml-xl {
  margin-left: 48px;
}

.ml-xxl {
  margin-left: 64px;
}

.ml-xxxl {
  margin-left: 180px;
}

.mi-initial {
  margin-inline: initial !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.ml-5 {
  margin-left: 5px !important;
}

.mr-5 {
  margin-right: 5px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.ml-15 {
  margin-left: 15px !important;
}

.mr-15 {
  margin-right: 15px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.mt-25 {
  margin-top: 25px !important;
}

.mb-25 {
  margin-bottom: 25px !important;
}

.ml-25 {
  margin-left: 25px !important;
}

.mr-25 {
  margin-right: 25px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.ml-30 {
  margin-left: 30px !important;
}

.mr-30 {
  margin-right: 30px !important;
}

.mt-35 {
  margin-top: 35px !important;
}

.mb-35 {
  margin-bottom: 35px !important;
}

.ml-35 {
  margin-left: 35px !important;
}

.mr-35 {
  margin-right: 35px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.ml-40 {
  margin-left: 40px !important;
}

.mr-40 {
  margin-right: 40px !important;
}

.mt-45 {
  margin-top: 45px !important;
}

.mb-45 {
  margin-bottom: 45px !important;
}

.ml-45 {
  margin-left: 45px !important;
}

.mr-45 {
  margin-right: 45px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.ml-50 {
  margin-left: 50px !important;
}

.mr-50 {
  margin-right: 50px !important;
}

.pt-5 {
  padding-top: 5px !important;
}

.pb-5 {
  padding-bottom: 5px !important;
}

.pl-5 {
  padding-left: 5px !important;
}

.pr-5 {
  padding-right: 5px !important;
}

.pt-10 {
  padding-top: 10px !important;
}

.pb-10 {
  padding-bottom: 10px !important;
}

.pl-10 {
  padding-left: 10px !important;
}

.pr-10 {
  padding-right: 10px !important;
}

.pt-15 {
  padding-top: 15px !important;
}

.pb-15 {
  padding-bottom: 15px !important;
}

.pl-15 {
  padding-left: 15px !important;
}

.pr-15 {
  padding-right: 15px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.pl-20 {
  padding-left: 20px !important;
}

.pr-20 {
  padding-right: 20px !important;
}

.pt-25 {
  padding-top: 25px !important;
}

.pb-25 {
  padding-bottom: 25px !important;
}

.pl-25 {
  padding-left: 25px !important;
}

.pr-25 {
  padding-right: 25px !important;
}

.pt-30 {
  padding-top: 30px !important;
}

.pb-30 {
  padding-bottom: 30px !important;
}

.pl-30 {
  padding-left: 30px !important;
}

.pr-30 {
  padding-right: 30px !important;
}

.pt-35 {
  padding-top: 35px !important;
}

.pb-35 {
  padding-bottom: 35px !important;
}

.pl-35 {
  padding-left: 35px !important;
}

.pr-35 {
  padding-right: 35px !important;
}

.pt-40 {
  padding-top: 40px !important;
}

.pb-40 {
  padding-bottom: 40px !important;
}

.pl-40 {
  padding-left: 40px !important;
}

.pr-40 {
  padding-right: 40px !important;
}

.pt-45 {
  padding-top: 45px !important;
}

.pb-45 {
  padding-bottom: 45px !important;
}

.pl-45 {
  padding-left: 45px !important;
}

.pr-45 {
  padding-right: 45px !important;
}

.pt-50 {
  padding-top: 50px !important;
}

.pb-50 {
  padding-bottom: 50px !important;
}

.pl-50 {
  padding-left: 50px !important;
}

.pr-50 {
  padding-right: 50px !important;
}

.w-sp {
  width: 390px;
}

.w-tab {
  width: 768px;
}

.w-ms {
  width: 900px;
}

.w-m {
  width: 1000px;
}

.w-lg {
  width: 1200px;
}

.w-full {
  width: 100%;
}

.w-5 {
  width: 5%;
}

.w-10 {
  width: 10%;
}

.w-15 {
  width: 15%;
}

.w-20 {
  width: 20%;
}

.w-25 {
  width: 25%;
}

.w-30 {
  width: 30%;
}

.w-35 {
  width: 35%;
}

.w-40 {
  width: 40%;
}

.w-45 {
  width: 45%;
}

.w-50 {
  width: 50%;
}

.ta_c {
  text-align: center;
}

.ta_l {
  text-align: left;
}

.ta_r {
  text-align: right;
}

.ff-noto {
  font-family: "Noto Sans", sans-serif;
}

.ff-noto-jp {
  font-family: "Noto Sans JP", sans-serif;
}

.section .section__inner {
  max-width: 1200px;
  padding: 0 17px;
  margin-inline: auto;
}
