@use "../settings/variables" as *;
@use "../settings/functions" as *;
@use "../mixins/breakpoints" as *;

.sidebar {
  .sidebar__item {
    & + .sidebar__item {
      margin-top: 60px;
    }
  }
  .sidebar__title {
    font-size: fz(18);
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
  }
  .profile {
    .profile__img {
      text-align: center;
      > img {
        width: 130px;
        height: 130px;
        border-radius: 50%;
      }
    }
    .profile__name {
      font-size: fz(18);
      font-weight: bold;
      text-align: center;
      margin: 30px 0;
    }
    .profile__text {
      font-size: fz(14);
    }
  }
  .ranking {
    .ranking__item {
      & + .ranking__item {
        margin-top: 30px;
      }
    }
    .ranking__link {
      transition: opacity 0.3s;
      &:hover {
        cursor: pointer;
        text-decoration: none;
        opacity: 0.8;
      }
      > .img {
      }
      > .text {
        font-size: fz(14);
      }
    }
  }
  .archive {
    .archive__list {
      font-size: fz(14);
      > li {
        a {
          display: block;
          width: 100%;
          height: 100%;
          padding: 20px;
          border-top: 1px solid #777;
          transition: background-color 0.3s;
          &:hover {
            text-decoration: none;
            background-color: #eee;
          }
        }
        &:last-child {
          a {
            border-bottom: 1px solid #777;
          }
        }
      }
    }
  }
}
