.ta_c {
  text-align: center;
}
.ta_l {
  text-align: left;
}
.ta_r {
  text-align: right;
}

.ff-noto {
  font-family: "Noto Sans", sans-serif;
}
.ff-noto-jp {
  font-family: "Noto Sans JP", sans-serif;
}
