@use "../settings/variables" as *;
@use "../settings/functions" as *;
@use "../mixins/breakpoints" as *;

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  font-family:
    "Noto Sans JP",
    "Noto Sans",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    sans-serif;
  color: $text-color;
  font-size: fz(16);
  line-height: 1.7;
}
img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
}
input,
button,
textarea,
select {
  -webkit-appearance: none;
  appearance: none;
  &:focus {
    outline-offset: 4px;
  }
}
a {
  text-decoration: none;
  color: $text-color;
  &:hover {
    text-decoration: underline;
  }
}
